force-app/main/default/flows/Pick_Random_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_random_accounts</name>
        <label>Get random accounts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>RandomRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_input_accounts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>percentage</name>
            <value>
                <numberValue>0.05</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_all_accounts</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Count_input_accounts</name>
        <label>Count input accounts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>countInputAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_selected_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_selected_accounts</name>
        <label>Count selected accounts</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>countSelectedAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_random_accounts.records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Pick Random Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pick Random Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_accounts</name>
        <label>Get all accounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_random_accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>countInputAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countSelectedAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
